<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="icon" type="image" href="/piano-with-music-notes-background-free-vector.jpg">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/home.css">
</head>
<body>
   
    <form action="/delete-student" method="post">
    <input type="hidden" name="id" readonly value="<%= data.id %>">
    
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" readonly value="<%= data.firstname %>">
    
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" readonly value="<%= data.lastname %>">
    
    <label for="phonenumber">Phone Number #</label>
    <input type="text" name="phonenumber" readonly value="<%= data.phonenumber %>">
    
    <input type="submit" value="Delete">
        </form>
   
</body>
</html>