<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
      <a href="/create-student">CREATE NEW PIANO INFO</a>       
 <table>
    <tr>
        <td><b>First Name</b></td>
        <td><b>Last Name</b></td>
        <td><b>Phone Number #</b></td>
        <td><b>Action</b></td>
    </tr>

    <% for(let i = 0; i < data.length; i++) { %>
        <tr>
           <td><%= data[i].firstname %></td>   
           <td><%= data[i].lastname %></td>   
           <td><%= data[i].phonenumber %></td>    
           <td>
            <a href="/edit-student/<%= data[i].id %>">Edit</a>
            <a href="/view-student/<%= data[i].id %>">View</a>
            <a href="/delete-student/<%= data[i].id %>">Delete</a>
           </td>   
        </tr>
    <% } %>
</table>

</body>
</html>