<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        
        <h1>VIEW STUDENT</h1><br><br>
        <b>ID :</b> &nbsp; <%= data.id %> <br><br>
        <b>First Name :</b> &nbsp; <%= data.firstname %> <br><br>
        <b>Last Name :</b> &nbsp; <%= data.lastname %> <br><br>
        <b>Phone Number #:</b> &nbsp; <%= data.phonenumber %> <br><br>
          
            
</body>
</html>